# Maven
**/target/

# Maven Wrapper
**/.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
**/.idea/
*.iml

# Eclipse / STS
**/.classpath
**/.project
**/.settings/
**/.factorypath
**/.springBeans
**/.sts4-cache

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
